{% extends "layout.html" %}
{% block title %} Gokturk's Comment Editing Page {% endblock %}
{% block content %}
<link href="../static/summernote/summernote.css" rel="stylesheet">
<script src="../static/summernote/summernote.js"></script>
<script type="text/javascript">
function popAlertDiv(status, errcode){
	$('#error_alert').hide();
	$('#error_container').empty();
	if (status == "OK"){

		$('#error_alert').removeClass().addClass('alert alert-success alert-dismissible');
		$('#error_container').append('<strong>Success!</strong> Data is updated successfully!');
		$('#error_alert').show();
	}
	else{
		$('#error_alert').removeClass().addClass('alert alert-danger alert-dismissible');
		if(errcode == 23505){
			$('#error_container').append('<strong>Error!</strong> Data already exist!');
		}
		else{
			$('#error_container').append('<strong>Error!</strong> Some error occured. Please contact Admin!');
		}
	}
	$('#error_alert').show();
};
$(function(){
	$('#summernote').summernote();
	$('#summernote').summernote('code', '{{commentObject.comment_text|safe}}');
	$('#error_alert').hide();
	$('#error_close_btn').click(function(){
		$('#error_alert').hide();
	});
	$('#edit_comment_button').click(function(){
		$.ajax({
			type: "POST",
			url: "{{ url_for('comment.get_comment',comment_id = commentObject.id ) }}",
			data: JSON.stringify({
				'comment_text': '' + $('#summernote').summernote('code')
			}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				popAlertDiv(result.status, result.errcode);
			}
		});
	})
});
</script>
	<div class = "col-sm-6 col-sm-offset-3">
		<div class = "page-header">
			<h1>Edit Comment</h1>
		</div>
		<div role="alert" id = "error_alert">
		  <button type="button" class="close" aria-label="Close" id = "error_close_btn"><span aria-hidden="true">&times;</span></button>
		  <div id = "error_container"></div>
		</div>
		<form class="form-horizontal">
		  <div class="form-group">
		    <div id = "summernote"></div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <p><button type = "button" id = "edit_comment_button" class = "btn btn-warning "><span class="glyphicon glyphicon-pencil"></span> Update Comment</button></p>
		    </div>
		  </div>
		</form>
	</div>
{% endblock %}
{% block footer %} <p> Gokturk's Comment Editing <p> {% endblock %}