{% extends "layout.html" %}
{% block title %} Bilal's Page {% endblock %}
{% block content %}
<script type="text/javascript">
function popAlertDiv(status, errcode,group_id){
	$('#error_alert').hide();
	$('#error_container').empty();
	if (status == "OK"){
		$('#group_item_' + group_id).remove();
		$('#error_alert').removeClass().addClass('alert alert-success alert-dismissible');
		$('#error_container').append('<strong>Success!</strong> Data is deleted successfully!');
		$('#error_alert').show();
	}
	else{
		$('#error_alert').removeClass().addClass('alert alert-danger alert-dismissible');
		$('#error_container').append('<strong>Error!</strong> Some error occured. Please contact Bilal!');
	}
	$('#error_alert').show();
};
function deleteGroupItem(group_id){
	if(confirm('Are you sure?')){
		$.ajax({
			type: "POST",
			url: "{{ url_for('group.get_groups') }}",
			data: JSON.stringify({
									'op': 'delete',
									'group_id': group_id
								}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				console.log(result);
				popAlertDiv(result.status,result.errcode,group_id);
			}
		});
	}
};
function updateGroupItem(group_id){
	location.href = "/groups/edit/" + group_id;
}
function joinGroupItem(group_id){
	$.ajax({
		type:"POST",
		url: "{{ url_for('gUsers.add_gUsers') }}",
		data: JSON.stringify({
			'user_id': '{{session["user_id"]}}',
			'group_id': group_id
			}),
		contentType: 'application/json;charset=UTF-8',
		success: function(result){
			if(result.status == "OK"){
				location.href = "/group/"+ group_id;
			}
		}
	})
}

$(function(){
	$('#error_alert').hide();
	$('#error_close_btn').click(function(){
		$('#error_alert').hide();
	});

	$('#search_group_button').click(function(){
		$('#groupss_table > tbody').empty();
		$.ajax({
			type: "POST",
			url: "{{ url_for('group.get_groups') }}",
			data: JSON.stringify({
									'op': 'search',
									'group_name': $('#search_group').val()
								}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				console.log(result);
				if(result.status == "OK"){
						row_html = '';
					$.each(result.data, function(key,value){
						row_html += '<tr id = "group_item_' + value.id + '">'
							     + 		'<td>' + value.name +'</td>'
							     +  	'<td>'
							     +			'<button type = "button" class = "btn btn-success btn-sm" onclick = "joinGroupItem('+ value.id +');"><span class="glyphicon glyphicon-chevron-right"></span></button>'
								 + 			'<button type = "button" class = "btn btn-warning btn-sm" onclick = "updateGroupItem('+ value.id +');"><span class="glyphicon glyphicon-pencil"></span></button>'
								 + 			'<button type = "button" class = "btn btn-danger btn-sm" onclick = "deleteGroupItem('+ value.id +');"><span class="glyphicon glyphicon-trash"></span></button>'
							     +  	'</td>'
						         + '</tr>'
					});
					$('#groups_table > tbody').append(row_html);
				}
				//popAlertDiv(result.status,result.errcode,group_id);
			}
		});
	});
});
</script>
	<div class = "col-sm-8 col-sm-offset-2">
		<div class = "page-header">
			<h1>Search Groups</h1>
		</div>
    	<div role="alert" id = "error_alert">
		  <button type="button" class="close" aria-label="Close" id = "error_close_btn"><span aria-hidden="true">&times;</span></button>
		  <div id = "error_container"></div>
		</div>
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="control-label col-sm-2">Group:</label>
		    <div class="col-sm-8">
		      <input type="text" class="form-control" id="search_group" placeholder="Enter your group that you want to search">
		    </div>
		  </div>
		  <div class="form-group">
		    <div class="col-sm-offset-1 col-sm-10">
		      <p><button type = "button" id = "search_group_button" class = "btn btn-primary "><span class="glyphicon glyphicon-search"></span> Search Group</button></p>
		    </div>
		  </div>
		</form>
		<table class = "table table-striped" id = "group_table">
			<thead>
				<tr>
					<th class = "text-center">Group Name</th>
					<th class = "text-center">Operations</th>
				</tr>
			</thead>
			<tbody>
				{% if all_groups %}
					{% for group_id, group in all_groups %}
						<tr id = "group_item_{{group_id}}">
							<td>{{ group.name }}</td>
							<td>
								<button type = "button" class = "btn btn-success btn-sm" onclick = "joinGroupItem({{group_id}});"><span class="glyphicon glyphicon-chevron-right"></span></button>
								<button type = "button" class = "btn btn-warning btn-sm" onclick = "updateGroupItem({{group_id}});"><span class="glyphicon glyphicon-pencil"></span></button>
								<button type = "button" class = "btn btn-danger btn-sm" onclick = "deleteGroupItem({{group_id}});"><span class="glyphicon glyphicon-trash"></span></button>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block footer %} <p>Bilal Emre Gülşen<p> {% endblock %}