{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
	<div class="col-sm-3 well">
		<div class="well">
			<p>Welcome to postIT!</p>
		</div>
		<div class = "well">
			<p>tagITs</p>
			<p><button type = "button" class="btn btn-danger btn-sm">Tag 1</button>
			<button type = "button" class="btn btn-danger btn-sm">Tag 2</button>
			<button type = "button" class="btn btn-danger btn-sm">Tag 3</button>
		</div>
		<div class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	        <p><strong>Hey!</strong></p>
	        We have announcement for you!
      	</div>
	</div>
	<div class = "col-sm-9">
		<div class = "row">
			<div class = "col-sm-3">
				<div class = "well">
					<p>Hakan</p>
					<p><button type = "button" class="btn btn-danger btn-sm">Tag 1</button></p>
					<p class = "pull-right">
				    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
				    </p>
				</div>
			</div>
			<div class = "col-sm-9">
				<div class = "well">
					<p> Post Content. You can go with <a href = "/hakan">this</a> link to initialize database. </p>
					<p class = "pull-right">
						<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span></button>
						<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span></button>
					</p>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-3">
				<div class = "well">
					<p>Gokturk</p>
					<p>
						<button type = "button" class="btn btn-danger btn-sm">Tag 1</button>
						<!--button type = "button" class="btn btn-danger btn-sm">User Comments</button>
						<button type = "button" class="btn btn-danger btn-sm">User Messages</button-->
				    </p>
				    <p class = "pull-right">
				    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
				    </p>
				</div>
			</div>
			<div class = "col-sm-9">
				<div class = "well">
					<p> Post Content. You can go with <a href = "/hakan">this</a> link to initialize database. </p>
					<p class = "pull-right">
						<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span></button>
						<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span></button>
					</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block footer %} <p>postIT Home Page<p> {% endblock %}