{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<script type="text/javascript">
$(function(){
	$('#create_tag_btn').click(function(){
		location.href = "{{ url_for('tag.add_tag') }}";
	});
	$('#post_1').click(function(){
		$.ajax({
			type:"POST",
			url: "{{ url_for('pLikes.add_pLikes',post_id=1) }}",
			data: JSON.stringify({'post_id':'1','user_id':'1'}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				console.log(result.status);
			}
		})
	})
});
</script>
	<div class="col-sm-3 well">
		<div class="well">
			<p>Welcome to postIT!</p>
		</div>
		<div class = "well">
			<p>tagITs</p>
			<p>
			{% if all_tags %}
			{% for tag_id, tag in all_tags %}
			<button type = "button" class="btn btn-danger btn-sm">{{ tag.name }}</button>
			{% endfor %}
			{% endif %}
			</p>
			<p><button type = "button" class = "btn btn-success" id = "create_tag_btn"><span class="glyphicon glyphicon-plus"></span> Create Tag</button></p>
			<p><button type = "button" class = "btn btn-success"><span class="glyphicon glyphicon-plus"></span> Create Post</button></p>
		</div>
		<div class="alert alert-success fade in">
	        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
	        <p><strong>Hey!</strong></p>
	        We have announcement for you!
      	</div>
	</div>
	<div class = "col-sm-9">
		<div class = "row">
			<div class = "col-sm-3">
				<div class = "well">
					<p>Hakan</p>
					<p><button type = "button" class="btn btn-danger btn-sm">Tag 1</button></p>
					<p class = "pull-right">
				    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
				    </p>
				</div>
			</div>
			<div class = "col-sm-9">
				<div class = "well">
					<p> <a href = "/hakan">Post Header. You can go with this link to initialize database.</a> </p>
					<p class = "pull-right">
						<button type = "button" class="btn btn-success btn-sm" id="post_1"><span class="glyphicon glyphicon-thumbs-up"></span> {{post_likes}} </button>
						<button type = "button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-comment"></span> 0</button>
					</p>
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-sm-3">
				<div class = "well">
					<p>Gokturk</p>
					<p>
						<button type = "button" class="btn btn-danger btn-sm">Tag 1</button>
						<!--button type = "button" class="btn btn-danger btn-sm">User Comments</button>
						<button type = "button" class="btn btn-danger btn-sm">User Messages</button-->
				    </p>
				    <p class = "pull-right">
				    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
				    </p>
				</div>
			</div>
			<div class = "col-sm-9">
				<div class = "well">
					<p><a href = "/gokturk"> Post Content. You can go with this link to initialize database.</a> </p>
					<p class = "pull-right">
						<button type = "button" class="btn btn-default btn-sm" id="post_2"><span class="glyphicon glyphicon-thumbs-up"></span> 0</button>
						<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span> 0</button>
					</p>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
{% block footer %} <p>postIT Home Page<p> {% endblock %}