<!DOCTYPE html>
<html lang="en">
<head>
  <title>PostIT - {% block title %} {%endblock%}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <style>
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">postIT</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href = "/tags">Tags</a></li>
        <li><a href = "/keywordss">keywordss</a></li>
        <li><a href="/hakan">Hakan</a></li>
        <li><a href="/gokturk">Gokturk</a></li>
        <li><a href="/bilal">Bilal</a></li>
        <li><a href="/samet">Samet</a></li>
        <li><a href="/ibrahim">Ibrahim</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search" action="/search" method = "GET">
        <div class="form-group input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}

        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        {% endif %}

        {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
            {{ current_user.username }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/settings">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
  {% block content %}{% endblock %}
  </div>
</div>

<footer class="container-fluid text-center">
  {% block footer %} {% endblock %}
</footer>

</body>
</html>

