{% extends "layout.html" %}
{% block title %} {{postObject.title}} {% endblock %}
{% block content %}
<link href="../../static/summernote/summernote.css" rel="stylesheet">
<script src="../../static/summernote/summernote.js"></script>
<script type="text/javascript">
function popErrorDiv(errmsg){
	$('#error_alert').hide();
	$('#error_container').empty();

	$('#error_alert').removeClass().addClass('alert alert-danger alert-dismissible');
	for(var i = 0; i < errmsg.length; i++){
		$('#error_container').append('<strong>Error!</strong> ' + errmsg[i] + "<br>");
	}

	$('#error_alert').show();
};
$(function(){
	$('#error_alert').hide();
	$('#error_close_btn').click(function(){
		$('#error_alert').hide();
	});
	$('#summernote').summernote();
	$('#edit_post_{{postObject.id}}').click(function(){
		location.href = '{{ url_for("post.update_post", post_id = postObject.id) }}';
	});
	$('#add_comment_button').click(function(){
		$.ajax({
			type: "POST",
			url: "{{ url_for('comment.add_comment') }}",
			data: JSON.stringify({
				'post_id': '{{ postObject.id }}',
				'comment_text': $('#summernote').summernote('code')
			}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				console.log(result);
				if(result.status == "OK"){
					location.href = '{{ url_for("post.get_post", post_id = postObject.id) }}';
				}
				else{
					popErrorDiv(result.errmsg);
				}
			}
		});
	});
	$('[id *= "delete_comment_"]').click(function(){
		var id_string = $(this).attr('id');
		$.ajax({
			type: "POST",
			url: "{{ url_for('post.get_post', post_id = postObject.id) }}",
			data: JSON.stringify({
				'op' 		: 'delete_comment',
				'comment_id': id_string.substring(15)
			}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				console.log(result);
				if(result.status == "OK"){
					location.href = '{{ url_for("post.get_post", post_id = postObject.id) }}';
				}
			}
		});
	});
	$('[id *= "edit_comment_"]').click(function(){
		var id_string = $(this).attr('id');
		location.href = "/comments/" + id_string.substring(13);
	});
	$('#delete_post_{{postObject.id}}').click(function(){
		if(confirm("Are you sure?")){
			$.ajax({
				type: "POST",
				url: "{{ url_for('post.delete_post', post_id = postObject.id) }}",
				data: JSON.stringify({
					'post_id' 		: '{{postObject.id}}'
				}),
				contentType: 'application/json;charset=UTF-8',
				success: function(result){
					console.log(result);
					if(result.status == "OK"){
						location.href = '{{ url_for("home_page") }}';
					}
				}
			});
		}
	});
	$('[id *= "comment_like_"]').click(function(){
		var id_string = '' + $(this).attr('id').toString();
		$.ajax({
			type:"POST",
			url: "{{ url_for('comment_like.add_comment_like') }}",
			data: JSON.stringify({'comment_id': id_string.substring(13),'user_id':'{{session["user_id"]}}'}),
			contentType: 'application/json;charset=UTF-8',
			success: function(result){
				var comment_like = parseInt($('#clike_container_' + id_string.substring(13)).text());
				if(result.status == "OK"){
					comment_like++;
					$('#clike_container_' + id_string.substring(13)).empty();
					$('#clike_container_' + id_string.substring(13)).html(comment_like);
				}
				else{
					if (result.errcode == 23505){
						$.ajax({
							type:"POST",
							url: "{{ url_for('comment_like.delete_comment_like') }}",
							data: JSON.stringify({'comment_id':id_string.substring(13),'user_id':'{{session["user_id"]}}'}),
							contentType: 'application/json;charset=UTF-8',
							success: function(result){
								if(result.status == "OK"){
									comment_like--;
									$('#clike_container_' + id_string.substring(13)).empty();
									$('#clike_container_' + id_string.substring(13)).html(comment_like);
								}
							}
						})
					}
				}
			}
		})
	});
})
</script>
<div class = "row" id = "post_{{post_id}}">
	<div class = "col-sm-3">
		<div class = "well">
			<p>{{postObject.crt_username}}</p>
			<p><button type = "button" class="btn btn-danger btn-sm">{{postObject.tag_name}}</button></p>
			<p class = "pull-right">
		    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
		    </p>
		</div>
	</div>
	<div class = "col-sm-9">
		<div class = "well">
			<div class = "page-header">
					<h3>{{postObject.title}}</h3>
			</div>
			<p>{{postObject.post_text|safe}}</p>
			<p class = "pull-left">
				<button type = "button" class="btn btn-warning btn-sm" id = "edit_post_{{postObject.id}}" ><span class="glyphicon glyphicon-pencil"></span></button>
				<button type = "button" class="btn btn-danger btn-sm" id = "delete_post_{{postObject.id}}" ><span class="glyphicon glyphicon-trash"></span></button>
			</p>
			<p class = "pull-right">
				<button type = "button" class="btn btn-success btn-sm" id="post_1"><span class="glyphicon glyphicon-thumbs-up"></span> <div id='like_container'>{{postObject.post_like}}</div> </button>
				<button type = "button" class="btn btn-default btn-sm" ><span class="glyphicon glyphicon-comment"></span><div id = 'comment_counter_container'>{{postObject.comment_counter}}</div></button>
			</p>
		</div>
	</div>
</div>
{% if all_comments %}
{% for comment_id, comment in all_comments %}
<div class = "row" id = "post_{{post_id}}">
	<div class = "col-sm-3 col-sm-offset-4">
		<div class = "well">
			<p>Hakan</p>
			<p class = "pull-right">
		    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
		    </p>
		</div>
	</div>
	<div class = "col-sm-5">
		<div class = "well">
			<p>{{comment.comment_text|safe}}</p>
			<p class = "pull-left">
				<button type = "button" class="btn btn-warning btn-sm" id = "edit_comment_{{comment_id}}" ><span class="glyphicon glyphicon-pencil"></span></button>
				<button type = "button" class="btn btn-danger btn-sm" id = "delete_comment_{{comment_id}}" ><span class="glyphicon glyphicon-trash"></span></button>
			</p>
			<p class = "pull-right">
				<button type = "button" class="btn btn-success btn-sm" id="comment_like_{{comment_id}}"><span class="glyphicon glyphicon-thumbs-up"></span> <div id='clike_container_{{comment_id}}'>{{comment.comment_like}}</div> </button>
			</p>
		</div>
	</div>
</div>
{% endfor %}
{% endif %}
{% if session['user_id'] %}
<div class = "row">
	<div role="alert" id = "error_alert">
		  <button type="button" class="close" aria-label="Close" id = "error_close_btn"><span aria-hidden="true">&times;</span></button>
		  <div id = "error_container"></div>
	</div>
	<div class = "col-sm-3">
		<div class = "well">
			<p>{{current_user.username}}</p>
			<p class = "pull-right">
		    	<button type = "button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span></button>
		    </p>
		</div>
	</div>
	<div class = "col-sm-9">
		<div class = "well">
			<p><div id = "summernote"></div></p>
			<p><button type = "button" id = "add_comment_button" class = "btn btn-success "><span class="glyphicon glyphicon-plus"></span> Add Comment</button></p>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block footer %} <p>postIT<p> {% endblock %}